html {
  background: url('profile.jpg') no-repeat center center fixed;
  font-family: "Josefin Sans";
  /*margin: 120px;*/
  padding: 100px;
}



#image {
  float: right;
  max-height: 100%;
  max-width: 80%;

}

#name {
  width: 30%;
  font-size: 1.8em;

}

#wrapper {
  /*margin-top: 100px;*/
  display: inline-block;
  clear: left;


}

.description {
  float: left;
  width: 30%;
  font-size: 1.5em;
}
