html {
  background: url('./assets/profile copy.jpg') no-repeat center center fixed;
  font-family: "Josefin Sans";
  margin-left: 200px;
  margin-top: 60px;
  line-height: 1.4
}

#image {
  float: right;
  max-height: 100%;
  max-width: 80%;
}

#name {
  width: 30%;
  font-size: 1.8em;
}

#wrapper {
  display: inline-block;

}

.description {
  float: left;
  width: 30%;
  font-size: 1.5em;
}

#links {
  display: flex;
  float: left;
  clear: left;
}


.github {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: transparent url('./assets/github3.png') center center no-repeat;
  background-size: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 35px;
}

.linkedin {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: transparent url('./assets/linkedin copy.png') center center no-repeat;
  background-size: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 35px;

}

.twitter {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: transparent url('./assets/icon_twitter copy.png') center center no-repeat;
  background-size: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
